@import "tailwindcss";


body {
    font-family: "inter", sans-serif;
    font-display: swap;
    
}


h1 {
    line-height: 1;
    font-size: 70px;
    font-weight: bold;

    @media screen and (min-width: 1024px) {
        font-size: 80px;
    }
}



h2 {
    line-height: 1;
    font-size: 47px;
    font-weight: bold;

}
